.about-page-container {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: flex-start; /* Aligns content to the top of the page */
    padding: 0 50px;
    max-width: 80%;
    height: 80vh;
    margin: 0 auto;
}

.left-container {
    flex: 1; /* Takes up 1/3 of the available width */
    padding-right: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    margin-top: 20px;
    animation: fade-in 0.5s ease backwards;;
}

.left-container h1 {
    padding-bottom: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-png {
    width: 450;
    height: 450;
    border-radius: 10%;
    object-fit: contain;
}

.content-container a {
    color: blue;
}

.content-container {
    margin-top: 20px;
    flex: 2; /* Takes up 2/3 of the available width */
}

.sun {
    display: inline-block;
    font-size: xxx-large;
    animation-iteration-count: infinite;  
    white-space: nowrap;
    transition: transform 1.5s ease-in-out;
  }
  
  .go-left {
    transform: translateX(-30%);
  }
  
  .go-right {
    transform: translateX(30%);
  }

.left-side-clouds {
    animation-name: left-cloud-animation;   
    animation-duration: 1.25s;       
    animation-iteration-count: infinite;  
    transform-origin: 50% 50%;
    display: inline-block;
    font-size: xx-large;
  }
  
  @keyframes left-cloud-animation {
      0% { transform: rotate(0.0deg) }
      25% { transform: rotate(13.0deg) }
      50% { transform: rotate(0.0deg) }
      75% { transform: rotate(-13.0deg) }
      100% { transform: rotate(0.0deg) }
  }

  .right-side-clouds {
    animation-name: right-cloud-animation;   
    animation-duration: 1.25s;       
    animation-iteration-count: infinite;  
    transform-origin: 50% 50%;
    display: inline-block;
    font-size: xx-large;
  }
  
  @keyframes right-cloud-animation {
      0% { transform: rotate(0deg) }
      25% { transform: rotate(-13.0deg) }
      50% { transform: rotate(0.0deg) }
      75% { transform: rotate(13.0deg) }
      100% { transform: rotate(0deg) }
  }